<%- include('../partials/header') %>
<div class="formContainer">
  <h2>Edit your week</h2>

  <form action="/calendars/<%= week.id %>?_method=put" method="post">
    <% if(locals.errorMessage) { %>
    <div class="Error"><%= locals.errorMessage %></div>
    <% } %>

    <label for="Title">Title:</label>
    <input type="text" id="titleInput" name="title" value="<%= week.title  %>" />
    

    <label for="date"
      >To help us set up your weekly calendar, please provide the date of the
      first Monday of the week. Use the format dd/MM/yyyy (e.g. 01/01/2024). Thank
      you!
    </label>
    <input type="text" id="DatenInput" name="date" value="<%= week.date %>" />

    
    <button class="editButton">Update your Week!</button>
  </form>
</div>

<%- include ('../partials/footer') %>
