<%- include('../partials/header') %>

<h2> Weekly Calendar</h2>

</form>

<table>
    <thead>
        <th>Monday<div id="monday-date"> <%= formatDates.formatMonday %></div></th>
        <th>Tuesday <div id="tuesday-date"><%= formatDates.formatTuesday %></div></th>
        <th>Wednesday<div id="wednesday-date"><%= formatDates.formatWednesday %></div></th>
        <th>Thursday<div id="thursday-date"><%= formatDates.formatThursday %></div></th>
        <th>Friday<div id="friday-date"><%= formatDates.formatFriday %></div></th>
        <th>Saturday<div id="saturday-date"><%= formatDates.formatSaturday %></div></th>
        <th>Sunday<div id="sunday-date"><%= formatDates.formatSunday %></div></th>
    </thead>


<tbody>
    <tr>
        <td id="monday">
            <div class ="task-container">
                <ol>
                    <li>Monday task</li>
                    <li>Monday task</li>
                </ol>
                
            </div>
        </td>
        <td id="tuesday">
            <ol>
                <li>Tuesday tasks</li>
                <li>Tuesday tasks</li>
            </ol>
            
        </td>
        <td id="wednesday">
            <ol>
                <li>Wednesday tasks</li>
                <li>Wednesday tasks</li>
            </ol>
            
        </td>
        <td id="friday">
            <ol>
                <li> Thursday tasks</li>
                <li> Thursday tasks</li>
            </ol>
            
        </td>
        <td id="friday">
            <ol>
                <li> Friday tasks</li>
                <li> Friday tasks</li>
            </ol>
        </td>
        <td id="saturday">
            <ol>
                <li> Saturday tasks</li>
                <li> Saturday tasks</li>
            </ol>
            
        </td>
        <td id="sunday">
            <ol> 
                <li> Sunday tasks</li>
                <li> Sunday tasks</li>
            </ol>
            
        </td>
    </tr>


</tbody>
</table>

<%- include ('../partials/footer')  %>