<%- include('../partials/header') %>


<h2> <%= week.title%> </h2> 


</form>

<table>
    <thead>
        <th>Monday<div id="monday-date"> <%= formatDates.formatMonday %></div></th>
        <th>Tuesday <div id="tuesday-date"><%= formatDates.formatTuesday %></div></th>
        <th>Wednesday<div id="wednesday-date"><%= formatDates.formatWednesday %></div></th>
        <th>Thursday<div id="thursday-date"><%= formatDates.formatThursday %></div></th>
        <th>Friday<div id="friday-date"><%= formatDates.formatFriday %></div></th>
        <th>Saturday<div id="saturday-date"><%= formatDates.formatSaturday %></div></th>
        <th>Sunday<div id="sunday-date"><%= formatDates.formatSunday %></div></th>
    </thead>

<tbody>
    <tr>
        <div class ="task-container">
            <td id="monday">
                <ol>
                    <% for( task of tasksByDay.Monday) { %>
                        <li>
                            <%=  task.title %>      
                        </li>
                    <% } %>
                </ol>
            </td>
            <td id="tuesday">
                <ol>
                    <% for (task of tasksByDay.Tuesday) { %>
                        <li>
                            <%= task.title %>
                        </li>
                    <% } %>
                </ol>
            </td>
            <td id="wednesday">
                <ol>
                    <% for( task of tasksByDay.Wednesday) { %>
                        <li>
                            <%= task.title %>
                        </li>
                        <% } %>
                </ol>
            </td>
            <td id="thursday">
                <ol>
                    <% for( task of tasksByDay.Thursday) { %>
                        <li>
                            <%= task.title %>
                        </li>
                        <% } %>
                </ol>
                
            </td>
            <td id="friday">
                <ol>
                    <% for( task of tasksByDay.Friday) { %>
                        <li>
                            <%= task.title %>
                        </li>
                        <% } %>
                </ol>
            </td>
            <td id="saturday">
                <ol>
                    <% for( task of tasksByDay.Saturday) { %>
                        <li>
                            <%= task.title %>
                        </li>
                        <% } %>
                </ol>
            </td>
            <td id="sunday">
                <ol>
                    <% for( task of tasksByDay.Friday) { %>
                        <li>
                            <%= task.title %>
                        </li>
                        <% } %>
                </ol>
            </td>
        </div>
    </tr>
</tbody>
</table>

<%- include ('../partials/footer')  %>