<%- include('../partials/header') %>

<h2>All Tasks</h2>

<div class="container">
    <div class="tasks">
        <ol>
            <h3>2nd Brain Tasks:</h3>
            <% for (const task of secondBrain) { %>
                <li>
                    <a href="/task/<%= task.id %>">
                        <h4>Title: <%= task.title %></h4>
                    </a>
                </li>
            <% } %>
        </ol>

        <ol>
            <h3>Weekly Tasks:</h3>
            <% for (const task of weeklyTask) { %> 
                <li>
                    <a href="/task/<%= task.id %>">
                        <h4>Title: <%= task.title %></h4>
                    </a>
                </li>
            <% } %>
        </ol>
    </div>

    <div class="calendar">
        <%- include ('../calendar/weekly') %>
    </div>
</div>

<%- include ('../partials/footer') %>
