<%- include('../partials/header')  %>

<h2> All Tasks</h2>




<ul>
<% for (const task of tasks) { %>

<li>
    <a href="/task/<%= task.id %>">
        <h3> Title: <%= task.title %></h3>
    </a>
    <h3>Description:
        <% for (const description of task.description) { %>
            <%= description.type %>
        <% } %>
    </h3>
    <h3>Category: <%= task.category %></h3> 
    
</li>

<% } %>

</ul>



<%- include ('../partials/footer')  %>