<%- include('../partials/header')  %>

<h2> Create a new task</h2>

<form action="/tasks" method="post">


<% if(locals.errorMessage) { %>
    <div class="Error">
        <%= locals.errorMessage  %>
    </div>
<% } %>




<label for="Title"> Title:</label>
<input type="text" id="titleInput" name="title" value="<%= locals.title  %>">
<br>

<label for="Description"> Description:</label>
<input type="text" id="DescriptionInput" name="description" value="<%= locals.description %>">
<br>
<label for="category" > Please select where you would like to store the task</label>
<select id="category" name="category">
    <option value="2nd brain">2nd brain category<%= locals.category === '2nd brain' ? 'selected' : '' %></option>
    <option value="weekly tasks">Weekly task category <%= locals.category === 'Weekly task category' ? 'selected' : '' %></option>
    <option value="calendar tasks"> Calendar task category <%= locals.category === 'calendar tasks' ? 'selected' : '' %></option>
</select>



<div id="calendarOptions" style="display:block">
    <label for="week">Select a week:</label>
    <select id="'week" name="week" required>
        <option value="" disabled selected>Please select an option </option>
        <% for(week of weeksAvailable) { %>
        <option value="<%= week.title %>"><%= week.title %> </option>
        <% } %>
    </select>
    <br>
    <label for="day">Select a day</label>
    <select id="day" name="day" required>
        <option value="" disabled selected >Please select a day </option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>

</div>

<br>
<button>Create your tasks!</button>

</form>



<%- include ('../partials/footer')  %>

