<%- include('../partials/header')  %>

<h2> Create a new task</h2>

<form action="/tasks" method="post">


<% if(locals.errorMessage) { %>
    <div class="Error">
        <%= locals.errorMessage  %>
    </div>
<% } %>


<label for="Title"> Title:</label>
<input type="text" id="titleInput" name="title" value="<%= locals.title  %>">
<br>

<label for="Description"> Description:</label>
<input type="text" id="DescriptionInput" name="description" value="<%= locals.description %>">
<br>
<label for="category" > Please select where you would like to store the task</label>
<select id="category" name="category">
    <option value="2nd brain">2nd brain category<%= locals.category === '2nd brain' ? 'selected' : '' %></option>
    <option value="weekly tasks">Weekly task category <%= locals.category === 'Weekly task category' ? 'selected' : '' %></option>
</select>

<br>
<button>Create your tasks!</button>

</form>


<%- include ('../partials/footer')  %>