<%- include('../partials/header')  %>
<% console.log(task) %>

<h2> Title: <%= task.title %></h2>

<h2>Description:
    <% for (description of task.description) { %>
        <%= description.type %>
    <% } %>
</h2>

<h2>Category: <%= task.category %></h2>

<% if (task.category === "calendar tasks") { %>

    <h2>Week assigned:<%= task.week %></h2>
    <h2>Day assigned: <%= task.day %></h2>

<% } %>


<a href="/tasks/<%= task.id %>/edit">Edit this task</a>
<br>
<form action="/tasks/<%= task.id %>?_method=delete" method="post">
    <button>Delete this task </button>

</form>


<%- include ('../partials/footer')  %>

