<%- include('../partials/header')  %>


<h2> Title: <%= task.title %></h2>

<h3 class="noStyle">Description:
    <% for (description of task.description) { %>
        <%= description.type %>
    <% } %>
</h3>

<h3 class="noStyle">Category: <%= task.category %></h3>

<% if (task.category === "calendar tasks") { %>

    <h3 class="noStyle">Week assigned:<%= task.week %></h3>
    <h3 class="noStyle">Day assigned: <%= task.day %></h3>

<% } %>


<a href="/tasks/<%= task.id %>/edit">Edit this task</a>
<br>
<form action="/tasks/<%= task.id %>?_method=delete" method="post">
    <button class="deleteButton">Delete this task </button>

</form>


<%- include ('../partials/footer')  %>

